<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DATABASE</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div class="title"> FLIGHT FARE DATABASE</div><br>
    <div class="container">
        <table>
            <tr>
                {% for cols in heading %}
                <th class="header">{{ cols }}</th>
                {% endfor %}
            </tr>
            {% for row in data %}
            <tr class="table_row">
                {% for cell in row %}
                <td class="table_cell">{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <footer>
        <p class="footer">Created by Karan Rawat with 🤡</p>
    </footer>
</body>

</html>